extends _layout

block content
	section.container
		.row.py-3.my-4
			.col-lg
				img.img-fluid.rounded.d-block.mx-auto.shadow-sm(src=`https://cdn.pixabay.com/photo/2015/07/29/00/08/photographer-865295_960_720.jpg`)
			.col-lg
				h3.my-3 Hi, my name is Elena
				p Welcome to my web portfolio
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolorem nihil natus officia totam cupiditate, adipisci impedit ratione sit, voluptates ullam. Odio corporis maxime, ex ipsa ipsum quia animi ipsam.