extends _layout

block content
		section.container
			.row.mx-2.pb-5
				form.w-100(action="/gallery/addCategory" method="POST")
					.form-group
						label.w-100(for="name") Name
							input.form-control(type="text" name="name" id="name" placeholder='Type in a name for your category' required)
					.form-group
						label.w-100(for="image") Image URL
							input.form-control(type="text" name="image" id="image" placeholder='Type in an image URL for your category' required)
					button.btn.btn-primary.w-100 Add